/* Add your custom CSS below */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}
::-ms-input-placeholder {
  /* IE 10+ */
  color: #999;
}
.mktoForm .mktoRequiredField label.mktoLabel {
  font-weight: 300;
  display: none;
  color: #555 !important;
}
.col-sm-push-3 .mktoForm,
.request-demo .mktoForm {
  color: #555 !important;
  width: 100% !important;
  margin-bottom: 15px;
}

.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm select.mktoField {
  line-height: 1.3333333;
  height: 46px;
  border: 1px solid #d0d7de;
}

.mktoForm * {
  font-family: 'Ubuntu Light',Helvetica,Arial,sans-serif;
}
.mktoForm .mktoField {
  float: left;
  font-size: 16px;
}
.mktoForm .mktoLabel {
  float: left;
  line-height: 1.333333;
  padding-top: 0.3em;
  line-height: 1.3333333;
  height: 46px;
  vertical-align: middle;
  margin-top: 7px;
  display: none;
}
.mktoForm select.mktoField {
  padding: 10px 16px;
  height: 46px;
  color: #555 !important;
  border: 1px solid #ccc;
}
.mktoForm .mktoButtonWrap.mktoBlueBox .mktoButton:active {
  color: #fff;
  border-color: #9fca08;
  background: #9fca08;
  background-image: none !important;
  text-shadow: none;
}
.mktoForm .mktoButtonWrap.mktoBlueBox .mktoButton {
  color: #fff;
  border: 1px solid #aedd09 !important;
  background-color: #aedd09 !important;
  background-image: none !important;
  text-shadow: none !important;
  font-family: 'Ubuntu Bold',sans-serif;
  font-size: 20px !important;
  font-weight: 400;
  padding: 12px 44px 10px 44px !important;
  width: auto;
  height: 65px;
  border-radius: 10px;
}
.request-demo .mktoForm .mktoButtonWrap.mktoBlueBox .mktoButton {
  padding: 5px 44px !important;
  /* height: auto; */
}
.mktoButton {
  font-size: 20px;
  font-weight: 400;
}
.mktoForm .mktoButtonWrap.mktoBlueBox .mktoButton:hover {
  color: #fff;
  border-color: #9fca08 !important;
  background: #9fca08 !important;
  background-image: none !important;
  text-shadow: none;
}
.mktoForm .mktoAsterix {
  padding-top: 5px;
}
.mktoForm textarea.mktoField {
  resize: vertical;
  height: 100px;
  color: #555 !important;
  padding-top: 9px;
  border: 1px solid #ccc;
  outline: none;
}
.mktoForm .mktoLabel {
  font-weight: 300;
}

.col-sm-push-3 .mktoFieldDescriptor .mktoFormCol,
.request-demo .mktoFieldDescriptor .mktoFormCol {
  width: 100% !important;
}
.col-sm-push-3
  .mktoField
  .mktoTextField
  .mktoHasWidth
  .mktoRequired
  .mktoInvalid,
.request-demo
  .mktoField
  .mktoTextField
  .mktoHasWidth
  .mktoRequired
  .mktoInvalid {
  width: 100% !important;
}
.col-sm-push-3 .mktoFieldWrap .mktoRequiredField,
.request-demo .mktoFieldWrap .mktoRequiredField {
  width: 100% !important;
}

.mktoForm .mktoGutter {
  display: none;
  width: 0 !important;
}
.mktoButtonRow {
  display: inline-block;
  position: relative;
  margin-top: 10px !important;
  width: 100% !important;
  margin-bottom: 15px !important;
}

.col-sm-push-3 .mktoForm .mktoFormCol,
.request-demo .mktoForm .mktoFormCol {
  margin-bottom: 15px !important;
  width: 100% !important;
}
.mktoForm input[type="text"],
.mktoForm input[type="url"],
.mktoForm input[type="email"],
.mktoForm input[type="tel"],
.mktoForm input[type="number"],
.mktoForm input[type="date"],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
  padding: 10px 16px;
  width: 100% !important;
}
.mktoForm span,
.mktoForm label,
.mktoForm p {
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

.mktoButtonRow .mktoForm span {
    text-align: left !important;
}
.mktoForm .mktoOffset {
  display: none;
}
.col-sm-push-3 .mktoForm .mktoFieldWrap,
.request-demo .mktoForm .mktoFieldWrap {
  float: none;
  width: 100% !important;
}

.mktoForm span,
.mktoForm label,
.mktoForm p {
  text-align: left;
  margin: 0 !important;
  padding: 0;
}

.mktoForm input[type="text"]:focus,
.mktoForm input[type="url"]:focus,
.mktoForm input[type="email"]:focus,
.mktoForm input[type="tel"]:focus,
.mktoForm input[type="number"]:focus,
.mktoForm input[type="date"]:focus,
.mktoForm textarea:focus,
.mktoForm select.mktoField:focus {
  outline: none;
  border: 1px solid #329fd9;
}