.c-quote {
    font-size: 30px;
    position: relative;
    margin-top: 30px;
}
.c-quote:before {
    content: ' ';
    display: inline-block;
    background: url(../../images/12.png) no-repeat;
    width: 131px;
    height: 77px;
    position: absolute;
    left: -50px;
    top: -50px;
}
.c-quote:after {
    content: '';
    display: inline-block;
    background: url(../../images/13.png) no-repeat;
    width: 131px;
    height: 77px;
    position: absolute;
    bottom: 50px;
    right: -50px;
}
.c-quote__signature {
    margin-top: 10px;
}
.c-quote__name {
    font-size: 24px;
    font-family: "Ubuntu Bold", sans-serif;
}
.c-quote__link {
    font-size: 20px;
    font-family: "Ubuntu Regular", sans-serif;
    text-align: right;
}

.three-column {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
}
.three-column__item {
    padding: 40px;
    border-right: 3px solid rgba(94, 109, 121, .1);
    flex: 1;
    text-align: center;
}
.three-column__item img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}
.three-column__item:last-child {
    border-right: none;
}
.three-column__title {
    line-height: 36px;
    font-family: "Ubuntu Regular", sans-serif;
}
.three-column__desc {
    margin: 30px auto 0;
    line-height: 30px;
}
.feature-column {
    font-size: 20px;
    text-align: center;
}
.feature-column__item {
    width: 50%;
    padding: 40px 60px;
    border-right: none;
    float: left;
}
.feature-column__item img {
    margin-bottom: 40px;
}
.feature-column__title {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.feature-column__desc {
    margin: 30px auto 0;
    line-height: 30px;
}
.feature-column__link {
    margin-top: 50px;
}